.StarWarsPeople {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StarWarsPeople .loading {
  color: blue;
  background-color: lightblue;
  padding: 2em;
  font-weight: bolder;
}

.StarWarsPeople .error {
  color: red;
  background-color: pink;
  padding: 2em;
}
